<a href="https://colab.research.google.com/github/phj515/220603/blob/main/basic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("안녕 파이썬!")

안녕 파이썬!

[ ] 문자가 들어가는 것은 무조건 "" 또는 ''이 들어가야 한다.

In [2]:
print(5+5)

10

숫자가 들어가는 것은 숫자형이다. 더 자세히 이야기 하면 정수형과 실수형으로 나뉜다.

In [4]:
print("3개의 정수값을 입력하시오.")

Int1 = int(input("첫번째 값을 입력하시오.: "))
Int2 = int(input("두번째 값을 입력하시오.: "))
Int3 = int(input("세번째 값을 입력하시오.: "))
print(Int1, Int2, Int3)
sum = Int1 + Int2 + Int3
print(sum)

3개의 정수값을 입력하시오.
첫번째 값을 입력하시오.: 5
두번째 값을 입력하시오.: 4
세번째 값을 입력하시오.: 2
5 4 2
11

In [ ]:
total = 0
counter = 1
while counter <= 10:
  grade = int(input("점수를 입력하시오.: "))
  total = grade + total
  counter = counter + 1
print(int(total))
aver = total / 10
print(aver)

In [14]:
pay_rate = int(input("시급을 입력하시오. 2022년 6월 기준 9160원: "))
hour_work = int(input("일한 시간을 입력하시오.: "))
mon_pay = pay_rate * hour_work
print(mon_pay)

시급을 입력하시오. 2022년 6월 기준 9160원: 9160
일한 시간을 입력하시오.: 72

TypeError: ignored